version: '3.8'

services:
  nginx:
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf

  backend:
    environment:
      - FLASK_ENV=development
      
  frontend:
    environment:
      - NODE_ENV=development