global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "backend"
    static_configs:
      - targets: ["172.17.0.1:5000"]

  - job_name: "node-exporter"
    static_configs:
      - targets: ["node-exporter:9100"]
