global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'backend'
    static_configs:
      - targets: ['backend:5000']

  - job_name: 'frontend'
    static_configs:
      - targets: ['frontend:80']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']